<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>DemoLogin</display-name>
  <servlet>
  	<servlet-name>ShowDelServlet</servlet-name>
  	<servlet-class>Controller.ShowDelServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>ShowDelServlet</servlet-name>
  	<url-pattern>/ShowDelServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>ShowDelForm</servlet-name>
  	<servlet-class>Controller.ShowDelForm</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>ShowDelForm</servlet-name>
  	<url-pattern>/ShowDelForm</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>ShowEditServlet</servlet-name>
  	<servlet-class>Controller.ShowEditServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>ShowEditServlet</servlet-name>
  	<url-pattern>/ShowEditServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>ShowEditForm</servlet-name>
  	<servlet-class>Controller.ShowEditForm</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>ShowEditForm</servlet-name>
  	<url-pattern>/ShowEditForm</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>ShowAddServlet</servlet-name>
  	<servlet-class>Controller.ShowAddServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>ShowAddServlet</servlet-name>
  	<url-pattern>/ShowAddServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>ShowAddForm</servlet-name>
  	<servlet-class>Controller.ShowAddForm</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>ShowAddForm</servlet-name>
  	<url-pattern>/ShowAddForm</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>ShowInfServlet</servlet-name>
  	<servlet-class>Controller.ShowInfServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>ShowInfServlet</servlet-name>
  	<url-pattern>/ShowInfServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>ShowLoginServlet</servlet-name>
  	<servlet-class>Controller.ShowLoginServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>ShowLoginServlet</servlet-name>
  	<url-pattern>/ShowLoginServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>LoginController</servlet-name>
  	<servlet-class>Controller.LoginController</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>LoginController</servlet-name>
  	<url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>Login.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
</web-app>